name: OWASP ZAP Scan
on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  issues: write
  security-events: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: 'https://gin5115.github.io/devops-lab4-sathish/'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
